@using Bikeshop.Models
@model Domain.Product;

<div class="homeContainer">
    <h1>@ViewBag.title</h1>
    <img src="@ViewBag.bikeImage" href="/bike/index"/>
    <p>Go to <b>"Bikes"</b> for our catalog</p>
</div>

